body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.traffic-light {
  border-radius: 20px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.light {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin-bottom: 10px;
  opacity: 0.5;
}

.yellow {
  background-color: #facc15;
}

.green {
  background-color: #16a34a;
}

.red {
  background-color: #ef4444;
}

button {
  padding: 4px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}
input {
  appearance: none;
}

input:checked {
  opacity: 1;
}
